<% provide(:title, t("subject.list_subject")) %>
<h1><%= t("subject.list_subject") %></h1>
 <%= link_to t("subject.create_subject"), new_subject_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t("subject.name_subject") %></th>
      <th><%= t("subject.description_subject") %></th>
      <th><%= t("subject.total_date_lean_subject") %></th>
      <th><%= t("subject.start_date_learn_subject") %></th>
      <th><%= t("subject.action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name_subject %></td>
        <td><%= subject.description %></td>
        <td><%= subject.total_date_lean %></td>
        <td><%= l(subject.start_date_learn, format: :default) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @subjects, theme: "twitter-bootstrap-3" %>
