<h1><%= t :h1_show_user_tasks %></h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= t :name_task_show_user_tasks %></th>
    <th scope="col"><%= t :status_show_user_tasks %></th>
  </tr>
  </thead>
  <tbody>
    <% @user_tasks.zip(@tasks).each do |(user_task, task)| %>
        <tr>
          <td><%= task.name_task %></td>
          <td><%= user_task.status %></td>
        </tr>
    <% end %>
  </tbody>
</table>
